@media (max-width: 1025px) {
    .header_nav {
        background-color: #05BCCA;
        position: fixed;
        top: 96px;
        left: -100%;
        transition: .5s linear;

        width: 200px;
        height: 221px;
        padding: 16px;
        /* justify-content: flex-start; */
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .header_text {
        color: #C46A2B;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 133.333% */
    }

    .currency_language {
        z-index: 2;
        position: fixed;
        top: 250px;
        left: -100%;
        transition: .5s linear;
        column-gap: 16px;
    }

    #language, #currency {
        color: black;
        font-size: 32px;
    }

    .burger {
        display: block;
    }

    .show {
        left: 0;
    }
    .show_currency {
        left: 1.5%;
    }
}