

@media (max-width: 1439px) {
    .same_guitar_cards, .news_cards {
        overflow-x: auto;
        overflow-y: hidden;
        
    }

    .cards {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .catalogue_guitar_13,
    .catalogue_guitar_14,
    .catalogue_guitar_15,
    .catalogue_guitar_16 {
        display: none;
    }
}

@media (max-width: 1124px) {
    .header_nav {
        background-color: #05BCCA;
        position: fixed;
        top: 96px;
        left: -100%;
        transition: .1s linear;

        width: 200px;
        height: 221px;
        padding: 16px;
        /* justify-content: flex-start; */
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .header_text {
        color: #C46A2B;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 133.333% */
    }

    .currency_language {
        z-index: 2;
        position: fixed;
        top: 250px;
        left: -100%;
        transition: .1s linear;
        column-gap: 16px;
    }

    #language, #currency {
        color: black;
        font-size: 32px;
    }

    .burger {
        display: block;
    }

    .show {
        left: 0;
    }
    .show_currency {
        left: 1.5%;
    }



    .section_3, .sec_4 {
        padding: 96px 32px;
    }

    .same_title::before {
        left: 42%;
    
    }

    .section_4_title::before {
        left: 45%;
    }

    .bot_nav_text_2_small:hover:before {
        width: 31px;
    }

    .section_catalog {
        padding: 96px 21px;
    }


}