@media (max-width: 689px) {

    .container {
        padding-top: 187.2px;
    }

    .fa-guitar {
        font-size: 40px;
        color: #C46A2B;
        animation: flashing 4s infinite both;
    }

    .search_icon {
        width: 32px;
        height: 32px;
    }

    .header_user {
        width: 32px;
        height: 32px;
    }

    .header_cart {
        width: 32px;
        height: 32px;

    }

    .header_nav {
        top: 71px
    }

    
    .bottom_header_list {
        padding: 8px;
    }

    .bottom_header_text {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
    }

    .section_1_left_right {
        display: none;
    }

    .title_frame {
        column-gap: 16px;
    }

    .section_1_title {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 133.333% */
        margin-top: 72px;
    }

    .section_1_title_color {
        color: #05BCCA;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }




    .classical_guitar,
    .base_guitar {
        width: 170px;
        height: 160px;
    }

    .acoustic_guitar,
    .electric_guitar {
        height: 160px;
        width: 170px;
    }

    #email {

        width: 320px;
        height: 48px;
    }

    .section_2 {
        padding: 32px 8px;
        background: #012426;
    }

    .section_3 {
        display: flex;
        flex-direction: column;
        row-gap: 64px;
        padding: 32px 8px;
        background-color: #1A1A1A;
    }

    .sec_4 {
        padding: 32px 8px;
        background-color: #012426;
        display: flex;
        flex-direction: column;
        row-gap: 64px;

    }

    .same_title::before {
        left: 28%;

    }

    .section_4_title::before {
        left: 38%;
    }

    .subscribe_label {
        color: #05BCCA;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 133.333% */
    }

    .active_page {
        padding: 8px;
    }

    .active_page_text {
        color: #2C4246;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 154.167% */
    }

    #sort {
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px;
        color: transparent;
        width: 36px;
        padding: 4px 6px;
    }



    .previous,
    .next,
    .filter_text {
        display: none;
    }

    .select_previous_page {
        width: 52px;
        height: 40px;
        padding: 8px 14px;
    }


    .catalogue_guitar_5,
.catalogue_guitar_6,
.catalogue_guitar_7,
.catalogue_guitar_8 {
    display: none;
}


.bot_nav_frame {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
}

.bot_nav_title::before {
left: 26.5%;
}

.bot_nav_text:hover:before {
    width: 46px;
}

.bot_nav_text_jackson:hover:before {
    width: 53px;
}

.bot_nav_text_big:hover:before {
    width: 175px;
}

.bot_nav_text_small:hover:before {
    width: 141px;
    left: 10%;
}

.bot_nav_text_2:hover:before {
    width: 57px;
}

.contact_section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 96px 6.66%;
    column-gap: 40px;
}

.contact_title {
    width: 295px;
    font-size: 16px;
    line-height: 24px;
}


.contact_card {
    display: flex;
    width: 295px;
    column-gap: 24px;
    padding: 16px 92px;
    background-color: #2C4246;
    ;
}

.contact_mail,
.contact_phone {
    display: none;    
}

.contact_info_side {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 0;
}

.contact_location_icon {
width: 24px;
height: 24px;
}

.form_map {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact_form_line {
    column-gap: 13px;
}

#name,
#email {
    padding: 6px 99px 6px 8px;
}

#area {
    width: 295px;
    padding: 6px 235px 77px 8px;
}

.social_media_contact_section {
    justify-content: center;
}

}