.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-top: 239.2px;
}
.overall_header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header_top {
    display: flex;
    padding: 16px 94px;
    justify-content: space-between;
    align-items: center;
    background: #012426;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_text {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.fa-guitar {
    font-size: 64px;
    color: #C46A2B;
    animation: flashing 3s both;
}

@keyframes flashing {

    100% {
        text-shadow: 0 0 5px rgb(112, 10, 10),
        0 0 10px rgb(112, 10, 10),
        0 0 15px rgb(112, 10, 10),
        0 0 20px rgb(112, 10, 10),
        0 0 40px rgb(112, 10, 10),
        0 0 80px rgb(112, 10, 10),
        0 0 160px rgb(112, 10, 10);
    }

}



.rest_of_header {
    display: flex;
    column-gap: 42px;
}

.search_bar {
    display: flex;
}

.currency_language {
    display: flex;
    column-gap: 32px;
}

#language {
    color: #05BCCA;
    outline: none;
    border: none;
    background-color: transparent;
}

#currency {
    color: #05BCCA;
    outline: none;
    border: none;
    background-color: transparent;
}

.buttons {
    display: flex;
    column-gap: 32px;
}

.header_user {
    border-radius: 8px;
    background-color: #05BCCA;
}

.header_user:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(126, 136, 235),
        0 0 10px rgb(126, 136, 235),
        0 0 15px rgb(126, 136, 235);
}

.header_user:active {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(126, 136, 235),
        0 0 10px rgb(126, 136, 235),
        0 0 15px rgb(126, 136, 235),
        0 0 20px rgb(126, 136, 235);
}

.header_cart {
    border-radius: 8px;
    border: 2px solid #05BCCA;
    padding: 8px;
}

.header_cart:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(103, 114, 216),
        0 0 10px rgb(103, 114, 216),
        0 0 15px rgb(103, 114, 216),
        0 0 20px rgb(103, 114, 216);
}

.header_cart:active {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(103, 114, 216),
        0 0 10px rgb(103, 114, 216),
        0 0 15px rgb(103, 114, 216),
        0 0 20px rgb(103, 114, 216),
        0 0 40px rgb(103, 114, 216);
}

.bottom_header {
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
}

.bottom_header_ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_header_list {
    padding: 18px 24px;
    border: 1px solid #05BCCA;
}
.bottom_header_list:active {
    background: #A1C3C9;
}

.bottom_header_text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    /* 154.167% */
    transition: text-shadow 0.2s linear;
}

.bottom_header_text:hover {
    text-shadow:
    0 0 7px #6a91d4,
    0 0 10px #86b5e8,
    0 0 21px #6d94d2,
    0 0 42px rgb(31, 115, 189),
    0 0 82px rgb(49, 129, 163),
    0 0 92px rgb(33, 100, 182),
    0 0 102px rgb(42, 87, 142),
    0 0 151px rgb(0, 38, 255);
}
.bottom_header_text:active {
    color: #2C4246;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2C4246;
    padding: 48px 306px;
    row-gap: 66px;
}

.bot_nav_frame {
    display: flex;
    column-gap: 223px;
}

.bot_nav_card {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.bot_nav_title {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    /* margin-bottom: 28px; */
    border-bottom: 2px solid #D9D9D9;
    /* border-width: 8px; */
}

.bot_nav_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.bot_nav_text {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.bot_nav_text_2 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.footer_contact {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.copyright {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.copyright::before {
    content: "\f1f9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 4px;
}