.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
    padding-top: 239.2px;
}

.overall_header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.header_top {
    display: flex;
    padding: 16px 6.52%;
    justify-content: space-between;
    align-items: center;
    background: #012426;
}

.fa-xmark,
.fa-bars {
    font-size: 32px;
    color: #05BCCA;
    display: none;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li {
    transition: text-shadow 0.3s linear;
}

.header_li:hover {
    text-shadow: 0 0 5px red,
        0 0 10px red,
        0 0 15px red,
        0 0 20px red;
}

.header_text_home,
.header_text_catalogue,
.header_text_contact {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    position: relative;
}

/* .header_text:active {
    border-bottom: 2px solid red;
} */
.header_text_home:before,
.header_text_catalogue:before,
.header_text_contact:before {
    content: "";
    width: 0;
    height: 5px;
    background: red;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.1s ease-in-out;
}

.header_text_home:active:before {
    content: "";
    width: 60px;
    height: 5px;
    background: red;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.header_text_catalogue:active:before {
    content: "";
    width: 76px;
    height: 5px;
    background: red;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.header_text_contact:active:before {
    content: "";
    width: 110px;
    height: 5px;
    background: red;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.fa-guitar {
    font-size: 64px;
    color: #C46A2B;
    animation: flashing 4s infinite both;
}

@keyframes flashing {

    80% {
        text-shadow: 0 0 5px rgb(112, 10, 10),
            0 0 10px rgb(112, 10, 10),
            0 0 15px rgb(112, 10, 10),
            0 0 20px rgb(112, 10, 10),
            0 0 40px rgb(112, 10, 10),
            0 0 80px rgb(112, 10, 10),
            0 0 160px rgb(112, 10, 10);
    }

}

.fa-guitar:hover {
    animation-play-state: paused;
}


.rest_of_header {
    display: flex;
    column-gap: 42px;
}

.search_bar {
    display: flex;
}

.currency_language {
    display: flex;
    column-gap: 32px;
}

#language {
    color: #05BCCA;
    outline: none;
    border: none;
    background-color: transparent;
}

#currency {
    color: #05BCCA;
    outline: none;
    border: none;
    background-color: transparent;
}


.buttons {
    display: flex;
    column-gap: 32px;
}

.header_user {
    border-radius: 8px;
    background-color: #05BCCA;
    transition: 0.2s linear;
}

.header_user:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(126, 136, 235),
        0 0 10px rgb(126, 136, 235),
        0 0 15px rgb(126, 136, 235);
}

.header_user:active {
    transition: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(126, 136, 235),
        0 0 10px rgb(126, 136, 235),
        0 0 15px rgb(126, 136, 235),
        0 0 20px rgb(126, 136, 235);
}

.header_cart {
    border-radius: 8px;
    border: 2px solid #05BCCA;
    padding: 8px;
    transition: 0.2s linear;
}

.header_cart:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(103, 114, 216),
        0 0 10px rgb(103, 114, 216),
        0 0 15px rgb(103, 114, 216),
        0 0 20px rgb(103, 114, 216);
}

.header_cart:active {
    transition: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(103, 114, 216),
        0 0 10px rgb(103, 114, 216),
        0 0 15px rgb(103, 114, 216),
        0 0 20px rgb(103, 114, 216),
        0 0 40px rgb(103, 114, 216);
}

.bottom_header {
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
}

.bottom_header_ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_header_list {
    padding: 18px 24px;
    border: 1px solid #05BCCA;
    /* transition: background 0.2s linear; */
}

.bottom_header_list:active {
    background: #A1C3C9;
}

.bottom_header_text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    /* 154.167% */
    transition: text-shadow 0.2s linear, color 0.2s linear;
}

.bottom_header_text:hover {
    text-shadow:
        0 0 7px #6a91d4,
        0 0 10px #86b5e8,
        0 0 21px #6d94d2,
        0 0 42px rgb(31, 115, 189),
        0 0 82px rgb(49, 129, 163),
        0 0 92px rgb(33, 100, 182),
        0 0 102px rgb(42, 87, 142),
        0 0 151px rgb(0, 38, 255);
}

.bottom_header_text:active {
    color: #2C4246;
}

.section_1 {
    height: 480px;
    background-image: url(../images/main\ guitar.png);
    background-size: cover;
    background-position: 50%;
    padding-inline: 6.52%;
    display: flex;
    flex-direction: column;
    row-gap: 96px;
}

.title_frame {
    display: flex;
    justify-content: center;
    /* margin-top: 72px; */
    align-items: center;
    column-gap: 24px;
    /* padding-inline: 0 94px; */
}

.section_1_title {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 112.5% */
    margin-top: 72px;
}

.section_1_title_color {
    color: #05BCCA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.section_1_title_arrow {
    margin-top: 72px;
    padding: 0px 6px;
    border-radius: 4px;
    background: #C46A2B;
    transition: 0.2s linear;
}

.section_1_title_arrow:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B;
}

.section_1_title_arrow:active {
    transition: none;
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B,
        0 0 20px #C46A2B,
        0 0 40px #C46A2B;
}

.section_1_arrows {
    display: flex;
    /* margin-inline: 94px; */
    justify-content: space-between;
}

.section_1_left_right {
    padding: 20px;
    border-radius: 4px;
    background: #C46A2B;
    border: none;
    transition: 0.2s linear;
}

.section_1_left_right:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B;
}

.section_1_left_right:active {
    transition: none;
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B,
        0 0 20px #C46A2B,
        0 0 40px #C46A2B;
}

.section_2 {
    padding: 96px 21.25%;
    background: #012426;
}

.four_guitars {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.upper_two,
.down_two {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.classical_guitar,
.base_guitar {
    height: 240px;
    width: 404px;
    background-image: url("../images/classical\ guitar.png");
}

.acoustic_guitar,
.electric_guitar {
    height: 240px;
    background-image: url("../images/acoustic\ guitar.png");
}

.classical_guitar,
.base_guitar,
.acoustic_guitar,
.electric_guitar {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    /* 154.167% */
    padding: 16px;
    transition: 0.2s linear;
}

.classical_guitar:hover,
.base_guitar:hover,
.acoustic_guitar:hover,
.electric_guitar:hover {
    filter: brightness(1.2);
}

.classical_guitar:active,
.base_guitar:active,
.acoustic_guitar:active,
.electric_guitar:active {
    transition: none;
    filter: brightness(1.5);
}

.section_3 {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 96px 94px;
    background-color: #1A1A1A;
}

.same_title {
    color: #05BCCA;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    /* 144.444% */
    text-align: center;
    position: relative;
}


.same_title::before {
    content: "";
    width: 150px;
    height: 2px;
    background: #05BCCA;
    position: absolute;
    bottom: -8px;
    left: 44%;
    z-index: 0;

}

.same_guitar_cards {
    display: flex;
    column-gap: 20px;
}

.same_guitar_card {
    padding: 8px;
    background-color: #2C4246;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    transition: 0.2s linear;
    /* background-image: url("../images/same\ guitar.png");
    background-repeat: no-repeat;
    background-position: 50% 7% */
}

.same_guitar_card:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #05BCCA99,
        0 0 10px #05BCCA99,
        0 0 15px #05BCCA99,
        0 0 40px #05BCCA99;
}

.same_guitar_card:active {
    transition: none;
    box-shadow: 0 0 5px #05BCCA99,
        0 0 10px #05BCCA99,
        0 0 15px #05BCCA99,
        0 0 40px #05BCCA99,
        0 0 50px #05BCCA99;
}

.identical_guitar {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.same_guitar_text {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 27px; */
    /* 168.75% */
    /* margin-top: 16px; */
    /* margin-bottom: 16px; */
}

.review_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review {
    display: flex;
    column-gap: 8px;
}

.five_stars {
    display: flex;
    column-gap: 4px;
}

.same_review {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    /* 125% */
}

.same_price {
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 27px; */
    /* 168.75% */
}

.same_price::before {
    content: "\24";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 4px;
    color: #05BCCA;
}












.section_4 {
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    background-color: #012426;
}



.section_4_title {
    color: #C46A2B;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    /* 144.444% */
    text-align: center;
    position: relative;
}

.section_4_title::before {
    content: "";
    width: 84px;
    height: 2px;
    background: #C46A2B;
    position: absolute;
    bottom: -8px;
    left: 46.65%;

}

.news_cards {
    display: flex;
    column-gap: 20px;
    /* position: relative; */
}

.news_card_1 {
    width: 404px;
    height: 440px;
    background-image: url("../images/news\ guitar\ 1.png");
    background-color: #05BCCA99;
    background-size: cover;
    background-position: 50%;
    /* background-attachment: inherit; */
    position: relative;
}

.news_card_2 {
    width: 404px;
    height: 440px;
    background-image: url("../images/news\ card\ 2.png");
    background-color: #05BCCA99;
    background-size: cover;
    background-position: 50%;
    /* background-attachment: inherit */
    position: relative;
}

.news_card_3 {
    width: 404px;
    height: 440px;
    background-image: url("../images/news\ card\ 3.png");
    background-color: #05BCCA99;
    background-size: cover;
    background-position: 50%;
    /* background-attachment: inherit; */
    position: relative;
}

.section_4_upper_card {
}

.section_4_date_title {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 24px;
}

.section_4_card_transparency {
    width: 404px;
    height: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background: rgba(5, 188, 202, 0.60);
    ;
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    transition: 0.35s linear;
    /* background-color: greenyellow; */
}

/* .section_4_card_transparency:hover {
    height: 440px;
} */

/* .section_4_card_transparency:hover {
    height: 440px;
} */


.section_4_card_date {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 118.75% */
}

.section_4_card_title {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 118.75% */
}

.section_4_card_text {
    opacity: 0;
    transition: 0.2s linear;
    transition-delay: 0.1s;
    width: 344px;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    /* 118.75% */
    margin-left: 24px;
}


.news_card_1:hover .section_4_card_text {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.news_card_1:hover .section_4_card_transparency {
    height: 440px;
}

.news_card_1:hover .section_4_down_card {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.news_card_2:hover .section_4_card_text {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.news_card_2:hover .section_4_card_transparency {
    height: 440px;
}

.news_card_2:hover .section_4_down_card {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.news_card_3:hover .section_4_card_text {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.news_card_3:hover .section_4_card_transparency {
    height: 440px;
}

.news_card_3:hover .section_4_down_card {
    transition: all 0.2s linear;
    transition-delay: 0.3s;
    opacity: 1;
}

.section_4_down_card {
    display: flex;
    column-gap: 16px;
    opacity: 0;
    margin-top: 209px;
    margin-left: 218px;
}

.section_4_card_transparency:hover .section_4_down_card {
    /* transition-delay: 1s linear; */
    /* display: flex; */
    /* opacity: 1; */
    /* column-gap: 16px; */
}

.section_4_down_card_text {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 118.75% */
    transition: 0.1s linear;
    border-bottom: 7px dotted;
    border-bottom-color: transparent;
    /* transition-delay: 0.4s linear; */
    position: relative;
}

.section_4_down_card_text:before {
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.1s ease-in-out;
}

.section_4_down_card_text:active:before {
    content: "";
    width: 75px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.section_4_down_card_text:hover {
    text-shadow: 1px 1px 1px black;
}


.section_4_down_card_arrow {
    padding: 0px 6px;
    border-radius: 4px;
    background: #C46A2B;
    transition: 0.2s linear;
}

.section_4_down_card_arrow:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B;
}

.section_4_down_card_arrow:active {
    transition: none;
    cursor: pointer;
    box-shadow: 0 0 5px #C46A2B,
        0 0 10px #C46A2B,
        0 0 15px #C46A2B,
        0 0 20px #C46A2B,
        0 0 40px #C46A2B;
}



.section_5 {
    height: 320px;
    background-image: url(../images/subscribe_guitar.png);
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.subscribe_label {
    color: #05BCCA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 59.375% */
    text-align: center;
}

.email_bar {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid #F5F5F5;

    background: rgba(44, 66, 70, 0.80);
}

#email {
    background-color: transparent;
    border: none;
    outline: none;
    width: 480px;
    height: 48px;
    display: flex;
    height: 48px;
    padding-left: 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 240px;
}

#email::placeholder {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    /* 118.75% */
    padding-left: 8px;
}

#subscribe {
    outline: none;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    /* 118.75% */
    display: flex;
    height: 48px;
    padding: 15px 14px 14px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.2s linear;
}

#subscribe:hover {
    /* box-shadow: 0 2px 2px rgb(126, 136, 235),
    1px -2px 2px rgb(126, 136, 235),
    1px 0 1px rgb(126, 136, 235); */
}

#subscribe:active {
    transition: none;
    /* color: rgb(126, 136, 235); */
    /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; */
    box-shadow: 0 0 2px rgb(126, 136, 235),
    0 0 5px rgb(126, 136, 235),
    0 0 10px rgb(126, 136, 235);
}

input, select, textarea{
    color: #A1C3C9;
}

textarea:focus, input:focus {
    color: #A1C3C9;
}















footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2C4246;
    padding: 48px 21.25%;
    row-gap: 66px;
    position: relative;
    z-index: 3;
}

.bot_nav_frame {
    display: flex;
    column-gap: 223px;
}

.bot_nav_card {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.bot_nav_card_3 {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    width: 173px;
}

.bot_nav_title {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    /* margin-bottom: 28px; */
    /* border-bottom: 2px solid #D9D9D9; */
    /* border-width: 8px; */
    position: relative;
}

.bot_nav_title::before {
    content: "";
    width: 80px;
    height: 2px;
    background: #D9D9D9;
    position: absolute;
    bottom: -8px;
    left: 0%;

}

.bot_nav_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.bot_nav_text,
.bot_nav_text_jackson,
.bot_nav_text_big,
.bot_nav_text_small {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    position: relative;
}

.bot_nav_text:before,
.bot_nav_text_jackson:before,
.bot_nav_text_big:before,
.bot_nav_text_small:before {
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.1s ease-in-out;
}

.bot_nav_text:hover:before {
    content: "";
    width: 50px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.bot_nav_text_jackson:hover:before {
    content: "";
    width: 57px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.bot_nav_text_big:hover:before {
    content: "";
    width: 160px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.bot_nav_text_small:hover:before {
    content: "";
    width: 110px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.bot_nav_text_2,
.bot_nav_text_2_small {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    position: relative;
}

.bot_nav_text_2:before,
.bot_nav_text_2_small:before {
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.1s ease-in-out;
}

.bot_nav_text_2:hover:before {
    content: "";
    width: 60px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.bot_nav_text_2_small:hover:before {
    content: "";
    width: 35px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* .soc_media_icon:hover,
.bot_nav_text:hover,
.bot_nav_text_2:hover {
    border-bottom: 3.5px dotted rgb(126, 136, 235);
    margin-bottom: -3px;
} */
.soc_media_icon {
    position: relative;
}

.soc_media_icon:before {
    content: "";
    width: 0;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: 40%;
    transition: all 0.1s ease-in-out;
}

.soc_media_icon:hover:before {
    content: "";
    width: 35px;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -5px;
    left: -5%;
}

.copyright {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.copyright::before {
    content: "\f1f9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 4px;
}