@media (max-width: 1023px) {

    .classical_guitar,
    .base_guitar {
        width: 330px;
    }

    .same_title::before {
        left: 38%;
    
    }

    .section_4_title::before {
        left: 42%;
    }



    .catalogue_guitar_9,
.catalogue_guitar_10,
.catalogue_guitar_11,
.catalogue_guitar_12 {
    display: none;
}

.bot_nav_frame {
    display: flex;
    column-gap: 149px;
}

}